<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Root Logger auf INFO setzen -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

    <!-- Alle JDA Debug-Messages deaktivieren -->
    <logger name="net.dv8tion.jda" level="WARN"/>

    <!-- Alle Lavaplayer Debug-Messages deaktivieren -->
    <logger name="com.sedmelluq" level="WARN"/>

    <!-- Eigene Logs auf INFO -->
    <logger name="dev.eministar" level="INFO"/>
</configuration>

